{
    "plugins": [
        "node",
        "promise"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "node": true,
        "mocha": true,
        "jest": true
    },
    "rules": {
      "no-console": 0,
      "node/no-unsupported-features": [ 2, { "version": 6 }]
    }
}
