{
    "plugins": [
        "node",
        "promise"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "node": true,
        "mocha": true,
        "jest": true
    },
    "rules": {

    }
}
